name: Typecheck
on:
  pull_request:
  merge_group:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  check:
    if: github.repository == 'Expensify/react-native-wallet'
    runs-on: ubuntu-latest
    concurrency:
      group: check-root-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Check out Git repository
        # v4
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js 18
        # v4
        uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e
        with:
          node-version: 18

      - name: Install node_modules
        run: npm ci

      - name: Typecheck library
        run: npm run typecheck -- --project tsconfig.json

      - name: Typecheck common app
        run: npm run typecheck -- --project apps/common-app/tsconfig.json
